---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>
    Kamiyama.rb #1 2014/11/08
  </h1>
  <h2>
    in KAMIYAMA VALLEY SATELLITE OFFICE COMPLEX
  </h2>
  <p class="doc">
    <%= link_to "Join us !", "http://kamiyamarb.doorkeeper.jp/events/16452" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
